# 0: Import

In [81]:
import pandas as pd
import numpy as np
import re
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
nltk.download('stopwords')
nltk.download('punkt')
from nltk import word_tokenize
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\16178\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\16178\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# 1： Read in dataset

In [6]:
df = pd.read_csv('bostonfoods.csv')
df

,id,name,type,rating,image
0,1,seoul jangteo,"Korean, Chinese, Noodle",4.1,https://lh3.googleusercontent.com/p/AF1QipM5qO...
1,2,pho basil,"Vietnamese, Thai, Seafood",4.4,https://media-cdn.tripadvisor.com/media/photo-...
2,3,fuji at woc,"Japanese, Sushi Bars, Cocktail Bars",4.6,https://images.getbento.com/accounts/983a102b9...
3,4,myung dong,"Korean, Bars",4.0,https://lh3.googleusercontent.com/p/AF1QipPaHZ...
4,5,earls prudential,"American, Cocktail Bar, brunch",4.4,https://lh3.googleusercontent.com/p/AF1QipN_tF...
5,6,del friscos double eagle steakhouse,"steakhouses, seafood, american",4.5,https://s3-media0.fl.yelpcdn.com/bphoto/TjVxi3...
6,7,bartaco seaport,tacos,4.4,https://lh3.googleusercontent.com/p/AF1QipPZ3r...
7,8,pho linh,vietnamese,4.4,https://lh3.googleusercontent.com/p/AF1QipM_RY...
8,9,chaji creamery,"ice cream, frozen yogurt, coffee, tea",4.8,https://lh3.googleusercontent.com/p/AF1QipOYkL...
9,10,matcha cafe maiko,"bubble tea, ice cream, frozen yogurt",4.7,https://s3-media0.fl.yelpcdn.com/bphoto/qxOnyD...
10,11,cafe luna,"coffee tea, sandwiches, breakfast, brunch",4.4,https://s3-media0.fl.yelpcdn.com/bphoto/6EYOc1...
11,12,fuji at assembly,"sushi bar, asian fusion, salad",4.4,https://static.urbandaddy.com/uploads/assets/i...
12,13,noodle street,"thai, noodles",4.3,https://lh3.googleusercontent.com/p/AF1QipOFFP...
13,14,gyu kaku japnese bbq,"japanese, barbeque, asian fusion",4.4,https://lh3.googleusercontent.com/p/AF1QipMG9k...
14,15,tatte bakery,"breakfast, brunch,sandwich, coffee, tea",4.5,https://media.cntraveler.com/photos/5f850e2793...
15,16,futago udon,"japanese, noodles",4.4,https://lh3.googleusercontent.com/p/AF1QipMgWw...
16,17,cha kung fong,bubble tea,4.6,https://lh3.googleusercontent.com/p/AF1QipPUQw...
17,18,big fu café,cantonese,4.6,https://lh3.googleusercontent.com/p/AF1QipMfho...
18,19,monument restaurant tavern,"bars, breakfast, brunch, american",4.6,https://media.timeout.com/images/105467016/ima...
19,20,happy lamb,"hot pot, chinese, asian fusion",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/y-Nb_r...
20,21,liu yi shou,"hot pot, chinese",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/tIakQ2...
21,22,spring shabu shabu,"hot pot, japanese",4.5,https://s3-media0.fl.yelpcdn.com/bphoto/mZFkkc...
22,23,shake shack,"burgers, hot dog, ice cream, frozen yogurt",3.5,https://s3-media0.fl.yelpcdn.com/bphoto/nfStZz...
23,24,taiyaki nyc,"desserts, ice cream, frozen yogurt, donuts",4.4,https://s3-media0.fl.yelpcdn.com/bphoto/koixu1...
24,25,noah kitchen,"asian fusion, szechuan",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/M-CihF...
25,26,sojuba,"korean, lounges",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/Aq5eNh...
26,27,ming seafood restaurant,"seafood, dim sum",3.0,https://s3-media0.fl.yelpcdn.com/bphoto/4Z7mJc...
27,28,koreana,"korean, japanese, barbeque",4.3,https://www.bostonmagazine.com/wp-content/uplo...
28,29,bbq chicken,korean,3.5,https://s3-media0.fl.yelpcdn.com/bphoto/3jZNnE...
29,30,bonchon,"korean, chicken wing, asian fusion",3.5,https://s3-media0.fl.yelpcdn.com/bphoto/xNmIyn...
30,31,kaju tofu house,korean,4.0,https://s3-media0.fl.yelpcdn.com/bphoto/OZkFkF...
31,32,seoul toppoki,korean,4.0,https://s3-media0.fl.yelpcdn.com/bphoto/yBLC6K...
32,33,the daily catch,"italian, seafood",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/R2iDty...
33,34,carmelina,italian,4.5,https://s3-media0.fl.yelpcdn.com/bphoto/rxZBwI...
34,35,terra at eataly boston,"italian, bar",3.5,https://s3-media0.fl.yelpcdn.com/bphoto/FDId8U...
35,36,santouka,"ramen, soup, noodles",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/jBuwtc...
36,37,barcelona wine bar,"spanish, wine bar, tapas",4.5,https://s3-media0.fl.yelpcdn.com/bphoto/x40k7M...
37,38,moo,"steakhouse, wine bars",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/N1vvpZ...
38,39,meet fresh,"desserts, bubble tea, shaved ice",3.5,https://s3-media0.fl.yelpcdn.com/bphoto/ksIRce...
39,40,moge tee,bubble tea,4.0,https://s3-media0.fl.yelpcdn.com/bphoto/iADIYg...
40,41,oishii boston,"sushi bar, japanese",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/XeV2J7...
41,42,luke lobster,"seafood, soup, sandwiches",4.0,https://s3-media0.fl.yelpcdn.com/bphoto/-0GHet...
42,43,jonquils café and bakery,"café, coffee, tea, bakeries",4.5,https://s3-media0.fl.yelpcdn.com/bphoto/TlqTmK...
43,44,lady m,"dessert, bakeries, cake",4.2,https://s3-media0.fl.yelpcdn.com/bphoto/JF8hoi...

In [94]:
new_df = df.copy()
new_df.head(5)

,id,name,type,rating,image
0,1,seoul jangteo,"Korean, Chinese, Noodle",4.1,https://lh3.googleusercontent.com/p/AF1QipM5qO...
1,2,pho basil,"Vietnamese, Thai, Seafood",4.4,https://media-cdn.tripadvisor.com/media/photo-...
2,3,fuji at woc,"Japanese, Sushi Bars, Cocktail Bars",4.6,https://images.getbento.com/accounts/983a102b9...
3,4,myung dong,"Korean, Bars",4.0,https://lh3.googleusercontent.com/p/AF1QipPaHZ...
4,5,earls prudential,"American, Cocktail Bar, brunch",4.4,https://lh3.googleusercontent.com/p/AF1QipN_tF...

In [75]:
def cleaning_text(s):
    """lowercase all letters
    remove stopwords, punctuations, etc before feed to models"""
    s = str(s)
    s = s.lower()
    s = re.sub(r'[^a-zA-Z]', ' ', s)
    return s

def df_type(df):
    """enter a df that you want to chekc the datatype of"""
    return df.dtypes

def cleanTextcol(column):
    """
    Given a column, we want to use the helper function cleaning_text,
    tokenize each word into list, then after cleaning, we join the text"""
    
    if column not in new_df:
        print('this column does not exist')
    else:
        new_df[column] = new_df[column].apply(cleaning_text)
        new_df[column] = new_df[column].apply(word_tokenize)
        new_df[column] = new_df[column].apply(lambda x: ' '.join(x))
        print('process completed')

In [104]:
cleanTextcol('type')

process completed

In [107]:
# save the cleaned version of dataset for later use in the web app
new_df.to_csv('cleaned_data.csv')

In [78]:
# instantiate TFIDF object, this is the algorithm we will use for recommendation system
tfidf = TfidfVectorizer()
TFmatrix = tfidf.fit_transform(new_df['type']) # transform to the type column
print(TFmatrix.shape)

(44, 55)

In [83]:
similarity_matrix = linear_kernel(TFmatrix,TFmatrix) # linear_kernel is faster than cosine_similarity

In [85]:
# Next we will need to create a series that maps the index of the matrix to restuarant names

mapping = pd.Series(new_df.index, index = new_df['name'])
mapping

name
seoul jangteo                           0
pho basil                               1
fuji at woc                             2
myung dong                              3
earls prudential                        4
del friscos double eagle steakhouse     5
bartaco seaport                         6
pho linh                                7
chaji creamery                          8
matcha cafe maiko                       9
cafe luna                              10
fuji at assembly                       11
noodle street                          12
gyu kaku japnese bbq                   13
tatte bakery                           14
futago udon                            15
cha kung fong                          16
big fu café                            17
monument restaurant tavern             18
happy lamb                             19
liu yi shou                            20
spring shabu shabu                     21
shake shack                            22
taiyaki nyc                            23
noah kitchen                           24
sojuba                                 25
ming seafood restaurant                26
koreana                                27
bbq chicken                            28
bonchon                                29
kaju tofu house                        30
seoul toppoki                          31
the daily catch                        32
carmelina                              33
terra at eataly boston                 34
santouka                               35
barcelona wine bar                     36
moo                                    37
meet fresh                             38
moge tee                               39
oishii boston                          40
luke lobster                           41
jonquils café and bakery               42
lady m                                 43
dtype: int64

In [108]:
# Next we will make the recommender function that recommend restaurants using cosine similarity

def recommend(name, count):
    restaurant_index = mapping[name] # get the index of input name restaurant

    # get similarity values with other restaurants
    # similarity score = list of index and similarity matrix
    similarity_score = list(enumerate(similarity_matrix[restaurant_index]))

    # sort in descend order
    similarity_score = sorted(similarity_score, key = lambda x: x[1], reverse=True)

    # get the scores of top restaurants based on input count
    similarity_score = similarity_score[1:count+1]

    # return restaurants name using the mapping series
    indices = [i[0] for i in similarity_score]

    return new_df[['name', 'rating', 'image']].iloc[indices]

In [112]:
df = recommend('pho basil', 2)
df

             name  rating                                              image
7        pho linh     4.4  https://lh3.googleusercontent.com/p/AF1QipM_RY...
12  noodle street     4.3  https://lh3.googleusercontent.com/p/AF1QipOFFP...

In [114]:
df['name'].iloc[0]

'pho linh'

In [ ]:
# save a list of restaurants in pickle
dataframe = pd.read_csv('cleaned_data.csv')